.main-content-general {
    box-sizing: border-box;
    width: 550px;
    height: 475px;
    border: 3px solid #F3F3F3;
    border-radius: 46px;
    /*transition: 0s;*/
}

.main-content__bed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-bed__title {
    width: 495px;
    overflow: hidden;
    text-align: center;
    flex: 1 1 0;
    padding-top: 46px;
    transition: 0s;
}

.main-content__title > h2 {
    font-size: 56px;
    color: #4F4F4F;
}

.content__bad {
    width: 385px;
    height: 289px;
}

.content__bad > img {
    width: 100%;
    height: 100%;
}

.main-content__woman {
    display: flex;
    flex-wrap: wrap;
    padding: 65px 0 0 96px;
    overflow: hidden;
}

.content-woman__title {
    order: 2;
    width: 235px;
    overflow: hidden;
    text-align: center;
    transition: 0s;
}

.content-woman {
    order: 1;
}

.main-content__icons {
    display: flex;
    column-gap: 24px;
    margin-top: 14px;
}

.main-content__icons > .icon {
    box-sizing: border-box;
    border-radius: 24px;
    width: 73px;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content__icons > .icon:hover {
    background: #EAEAEA;
    border: 3px solid #EAEAEA;
}

.grey-border {
    border: 3px solid #EAEAEA;
}

.green-border {
    border: 3px solid #D0FC60;
}